
h1{
    margin-left: 50px;
}

.products{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.products-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cart-product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 550px;
    width: 250px;
    border: 1px solid gray;
    margin: 15px;
}

.cart-product > img{
    max-width: 150px;
    max-height: 200px;
}
.cart-product > h3{
    width: 70%;
    text-align: center;
}
.cart-product-price{
    display: flex;
    width: 100%;
}
.cart-price{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.cart-rating{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.like{
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: rgba(255, 0, 0, 0.794);
}
.icons{
    color: #777;
    font-size: 12px;
    align-items: center;
}
.cart{
    display: flex;
    flex-direction: column;
}
.product-cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.product-cart img{
    max-width: 150px;
    max-height: 200px;
}
.product-cart > div{
    width: 18%;
    text-align: center;
}
.header-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart button{
    margin-left:10px;
    margin-right: 10px;
}
.sum{
    width: 80%;
    text-align: right;
    
    font-size: 20px;
    font-weight: bold;
}
